# 0. Importing and data visualization

In [11]:
df = pd.read_csv('../datasets/dataset_avaliacoes.csv', sep=',')
df.head()

,ID_avaliacao,avaliacao,nota,sentimento
0,81841,"Esse smartphone superou minhas expectativas, r...",5,positivo
1,28031,o cheiro e muito desagradavel!! pra quem se in...,2,negativo
2,91332,"Eu fiz a compra a loja não entregou o produto,...",1,negativo
3,110045,"Atendeu minhas expectativas, só achei a luz ru...",4,positivo
4,36929,"Gostei muito, só achei que ficou a desejar a q...",5,positivo

In [12]:
# Number of reviews

df.shape

(15501, 4)

In [13]:
# Numbe of positive and negative reviews

df.value_counts('sentimento')

sentimento
positivo    7890
negativo    7611
Name: count, dtype: int64

In [31]:
# Positive reviews

df_positive = df[df["sentimento"] == "positivo"]
df_positive

,ID_avaliacao,avaliacao,nota,sentimento
0,81841,"Esse smartphone superou minhas expectativas, r...",5,positivo
3,110045,"Atendeu minhas expectativas, só achei a luz ru...",4,positivo
4,36929,"Gostei muito, só achei que ficou a desejar a q...",5,positivo
10,108940,"Melhor que esperado, cor maravilhosa! Recomend...",5,positivo
15,116473,Um aparelho com uma ótima performance e um pre...,4,positivo
...,...,...,...,...
15495,76285,"Gostei do produto, atendeu minhas necessidades...",4,positivo
15496,61836,Bommm.mmmmmmmmmmmmmmmm Mmmmmmmmmmmmmmmmmmmmmmm...,4,positivo
15498,52712,"Muito simples de mexer, o manual explica direi...",5,positivo
15499,10874,"Produto muito bom, exatamente como na internet...",4,positivo
15500,107286,É incrível como voce é abandonado dentro de su...,5,positivo

In [33]:
# Negative reviews

df_negative = df[df["sentimento"] == "negativo"]
df_negative

,ID_avaliacao,avaliacao,nota,sentimento
1,28031,o cheiro e muito desagradavel!! pra quem se in...,2,negativo
2,91332,"Eu fiz a compra a loja não entregou o produto,...",1,negativo
5,13086,Comprei o produto e ñ tinha para entrega isso ...,1,negativo
6,117549,"o produto pode até ser bom ,mais só posso aval...",1,negativo
7,56436,"já enviei duas reclamações, mas não obtive res...",1,negativo
...,...,...,...,...
15490,120679,tv nao segura configuração. atendimento suport...,1,negativo
15492,14423,Na hora de comprar nao diz qual é a altira e q...,2,negativo
15493,94589,Eu queria muito esse produto mais faz dias que...,1,negativo
15494,104324,QUANDO CLIQUEI NA PROMO ONDE ADQUIRI ESTE CELU...,1,negativo
15497,19503,"O produto seca o cabelo, mas tem que passar di...",2,negativo

# Transforming text into numeric data

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

texto = [df_negative['avaliacao'].iloc[0], df_positive['avaliacao'].iloc[0]]
vetorizador = CountVectorizer()
bag_of_words = vetorizador.fit_transform(texto)
bag_of_words

KeyError: 0